html{
  font-size: 12px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  margin-bottom: 120px;
}

.cardContent{
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;

  border-left: 2px solid rgba(180, 179, 179, 0.612);
  border-top: 2px solid rgba(180, 179, 179, 0.612);

  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(95, 94, 94, 0.753);
}

.card img{

  border-radius: 20px;
  margin: 20px;
}

.card h2{
  margin: 10px 0;
  text-align: center;
}

.card h3{
  margin: 10px;
  padding: 5px 0;
  text-align: center;

}

.card span{

  color: rgba(0, 38, 255, 0.858);
}

.pagination{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: rgba(86, 206, 86, 0.73);
  display: flex;
  align-items: center;
  justify-content: center;

}

.pagination button{
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  text-align: center;
  margin: 20px;
  outline: 1px solid rgb(0, 0, 255);
  color: rgb(0, 0, 255);
  transition: all 0.4s;
}

.pagination button:hover{
  color: #fff;
  background-color: rgb(17, 119, 236);
  cursor: pointer;
  outline: 1px solid #fff;
  transition: all 0.4s;
}


@media screen and (min-width: 500px){

  html{
    font-size: 10px;
  }

  .cardContent{
    grid-template-columns: repeat(2, minmax(100px, 220px));
    justify-content: center;
    align-items: center;
  }

  .card img{
    width: 90%;
  }
}


@media screen and (min-width: 800px){

  html{
    font-size: 12px;
  }

  .cardContent{
    grid-template-columns: repeat(3, minmax(100px, 220px));
    justify-content: center;
    align-items: center;
  }

  .card img{
    width: 90%;
  }
}



@media screen and (min-width: 1200px){

  html{
    font-size: 14px;
  }

  .cardContent{
    grid-template-columns: repeat(4, minmax(100px, 220px));
    justify-content: center;
    align-items: center;
  }

  .card img{
    width: 90%;
  }
}



@media screen and (width > 1200px){


  html{
    font-size: 16px;
  }

  .cardContent{
    grid-template-columns: repeat(5, minmax(220px, 320px));
    justify-content: center;
    align-items: center;
  }

  .card img{
    width: 90%;
  }

}